@import url('https://fonts.cdnfonts.com/css/cartoon-free');
*{
  font-family: 'CARTOON FREE', sans-serif;
} 
.keyboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.keyboard {
  background-color: #ffffff; 
  z-index: 1; 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  margin: 20px;
}

.keyboard button {
  width: 80px;
  height: 70px;
  font-size: 25px;
} 
  
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.game-canvas{
  z-index:0; 
  border: 4px solid #000000;
}
.guessed-word-container{
  position: relative; 
  display: flex;
  align-items: center;
  justify-content:center; 
  width: 500px;
  height: 500px
}

.parent {
    position: relative;
}
.username-form{
  position: absolute;
  width: 275px!important;
  height: 300px;
  bottom: 25%; /* position it at the bottom of the parent */
  right:10%;
}
#keyboard {
  position: relative;
  animation: leftToRight 5s; /* Change the duration as needed */
  animation-fill-mode: forwards;
}

@keyframes leftToRight {
  0%   {right:0px;}
  100% {right:200vw;} /* Change this to move the div further or closer */
}
#reset-button {
  animation: fadeOut 2s forwards; /* The animation will last for 5s */
}

@keyframes fadeOut {
  0%   {opacity:1;}
  100% {opacity:0;} /* The div will become fully transparent */
}
.result {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Other styles as necessary */
}
.reset-button {
  position: absolute;
  bottom: 4%;
  height: 60px;  
  left: 50%;  
  transform: translateX(-50%);
  z-index: 20;
  /* Other styles as necessary */
}

.underline-breaks {
  border-bottom: 3px solid;
  font-size: 18px;
  line-height: 1.5;
  margin-right: 10px;
}
.inline {
  display: inline;
}
.game-info{
  z-index: 1;
  bottom: 40%;
  position: relative;
  animation: rightToLeft 5s; /* Change the duration as needed */
  animation-fill-mode: forwards;
}
@keyframes rightToLeft {
  0%   {right:40vw;}
  50%   {right:0px;}  
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-h2 {
  color: #007BFF;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-label {
  text-align: left;
  margin-bottom: 5px;
}

.login-input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-button {
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.switch {
  font-size: 20px;
  margin-top: 15px;
}

.switch a {
  color: #007BFF;
  text-decoration: none;
}
